.body{
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 20px";
	margin: 0px;
	color: #464646;
}

.button{
	background-color: #4c89e3; 
	border: 1px solid #4c89e3;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 18px; 
	color: #FFF; 
	padding: 8px; 
	margin: 4px"
}

.input-login{
	width: 200px; 
	border: 1px solid #BBB; 
	padding: 10px; 
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 14px;"
}

a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;	
	color: #000;
}

a:hover { 
   	text-decoration: none;	
   	color: #F48024;
}